body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;  
  list-style-type: none;
  gap: 24px;
}

a,
.text {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 300;  
}

.image-card > img {
    width: 400px;
    height: auto;
}

.text-card {
    font-size: 48px;
    font-weight: 700;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    padding: 9px;
    border-radius: 8px;
    border-style: solid;
    border-color: #3882F6;
}

.header {
  background-color: #1f2937;
  padding: 24px 48px;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.hero-bar {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.title {
    margin: 48px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.cards {
    margin: 48px;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.info {
    max-width: 244px;
    gap: 24px;
}

.info > img {
    width: 144px;
}

.container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;

}

.quote {
    display: grid;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 24px;
    max-width: 900px;
    }

.quote-author {
    display: flex;
    justify-self: flex-end;
    padding-top: 12px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.action {
    display: flex;
    margin-top: 64px;
    justify-content: center;
    flex: 1;
}

.action-container {
    margin-bottom: 48px;
    padding: 64px;
    display: flex;
    background-color: #3882F6;
    gap: 54px;
}

.action-button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    padding: 9px;
    border-radius: 8px;
    border-style: solid;
    border-color: #E5E7EB;
}

.action-text {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 700;
}

.footer {
  background-color: #1f2937;
  padding: 24px 48px;
  color: white;
  text-align: center;
}
